<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doubledowninteractive.news.user.repository.UserMapper">
        <resultMap id="UserMap" type="com.doubledowninteractive.news.user.domain.User">
            <id column="id" property="id"/>
            <result column="email" property="email"/>
            <result column="name" property="name"/>
            <result column="created_at" property="createdAt"/>
        </resultMap>

    <select id="findByEmail" parameterType="String" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>
    <select id="findIdByEmail" parameterType="String" resultType="java.lang.Long">
        SELECT id FROM users WHERE email = #{email}
    </select>
    <insert id="insert">
            INSERT INTO users(email, name) VALUES(#{email}, #{name})
        </insert>

    <select id="findAllIds" resultType="java.lang.Long">
        SELECT id FROM users ORDER BY id ASC
    </select>
        <select id="findById" parameterType="String" resultType="java.lang.Long">
            SELECT id FROM users WHERE email = #{email}
        </select>
</mapper>